<div class="row" id="list" ng-controller="MovieListController" ng-init="initList()">


    <div class="col-sm-6 col-md-3" ng-repeat="item in list_datas">
        <div class="thumbnail" data-toggle="modal" data-target="#myModal{{$index}}">
            <span ng-click="load_detail_info(item.movie,$index,item.info)">
                <span id="image{{$index}}" ng-init="loadimage($index,item.img)">
                </span>

                <!--<span ng-switch="item.img">-->

                <!--<img ng-switch-when=''-->
                <!--ng-src="http://x2020-movie.oss-cn-shanghai.aliyuncs.com/NotFind.jpg?x-oss-process=image/resize,m_pad,h_370,w_250,color_ffffff"-->
                <!--alt="">-->
                <!--<img ng-switch-default ng-src={{item.img+'?x-oss-process=image/resize,m_fill,h_370,w_250'}}-->
                <!--alt="">-->
                <!--</span>-->
            <div class="caption">
                <ul class="list-unstyled">
                    <li class="cut">
                        <h4>{{item.name}}
                            <small>{{item.year}}</small>

                        </h4>
                    </li>

                    <li class="cut">
                        <h4 ng-init="init_item($index,item.movie)">{{item.rating}}
                            <small>{{item.cate}}</small>
                            <small> {{item.directors}}</small>

                        </h4>

                    </li>
                </ul>


            </div>
            </span>


        </div>

        <!--<a data-toggle="modal" href="http://www.ziqiangxuetang.com/bootstrap/bootstrap-modal-plugin.html" data-target="#modal">Click me</a>-->
        <!--<div id="modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">-->
        <!--<div class="modal-dialog modal-sm">-->
        <!--<div class="modal-content">-->
        <!--...-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!-- Modal -->
        <div class="modal fade bs-example-modal-sm" id="myModal{{$index}}" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel{{$index}}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">


                        <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel{{$index}}">{{item.title}}
                            <small> ({{item.year}})</small>
                        </h4>
                    </div>
                    <div class="modal-body">

                        <div class="movie_top">
                            <div class="col-md-12 movie_box">
                                <div class="images_3_of_2">
                                    <div class="movie_image">
                                        <span class="movie_rating">{{item.rating}}</span>
                                        <img class="img-thumbnail"
                                             src="{{item.img+'?x-oss-process=image/resize,m_fill,h_370,w_250'}}"
                                             class="img-responsive" alt=""/>
                                    </div>

                                </div>
                                <div id="detail_info{{$index}}" class="desc1 span_3_of_2">



                                </div>
                                <div class="clearfix"></div>
                                <h5><strong>下载地址:</strong></h5>

                                <div class="row">
                                        <span ng-repeat="link in download_links">

                                             <div class="col-md-8">
                                                 <div class="well well-sm">
                                                     <small><a href="{{link.sourceurl}}" alert="{{link.sourceurl}}" target="_blank">{{getfilename(link.sourceurl)}}</a></small>
                                                 </div>
                                             </div>
                                             <div class="col-md-4">
                                                 <button id="btn_cpylink_{{$index}}" type="button" class="btn btn-primary" ng-click="copylink(link.sourceurl,$index)">复制
                                                 </button>

                                                 <button type="button" class="btn btn-primary" ng-click="download(link.sourceurl,link.id)">下载
                                                 </button>
                                             </div>

                                        </span>


                                </div>


                                <h5><strong>豆瓣介绍:</strong><a class="label label-default" href="{{item.douban_url}}" target="_blank">详细</a></h5>

                                <p class="m_4">
                                    {{item.summary}}
                                </p>

                            </div>

                            <div class="clearfix"></div>
                        </div>

                    <div class="modal-footer">
                        <a class="btn btn-info" href="{{item.org_url}}" target="_blank">采集原地址</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>

</div>
