<div class="row" id="list" ng-controller="PlayerController" ng-init="initPlayer()">
    <div class="col-sm-12">

        <h2>Carousel video gallery</h2>
        <!-- The Gallery as inline carousel, can be positioned anywhere on the page -->
        <div id="blueimp-video-carousel" class="blueimp-gallery blueimp-gallery-controls blueimp-gallery-carousel">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="play-pause"></a>
        </div>
        <br>
    </div>
</div>
